<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Service Inter-académique des Examens et Concours (SIEC)</h1>
                    <h3>Cartographie des applications du SIEC</h3>

                    <hr class="intro-divider">
                    <p>
                        <h3>Ici vous verrez l'ensemble des applications du SIEC développées en interne.</h3>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>